.navbar{
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	z-index: 1000;
	background-color: rgb(220, 124, 124);
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 10px 20px;
}

.navbar button.cart-btn{
	width: 45px;
	height: 45px;
	padding: 0px;
	border-radius: 10px;
	overflow: hidden;
	border-radius: 10px;
	border: none;
	cursor: pointer;
}

.navbar button.cart-btn > img{
	width: 100%;
}